* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  color: #DDE3EA;
}

#main-container {
  background: #131314;
  height: 100vh;
}

.container:first-child {
  height: 10%;
  font-size: 6rem;
}

.container {
  display:flex;
  justify-content:center;
  align-items:center;
}

.container:nth-child(2) {
  height: 90%;
}

#calculator {
  display:grid;

  min-height: 500px;
  max-width: 1000px;
  grid-template: 1fr 4fr/ 1fr;
  padding: 6px;
  gap: 4px;
}

#calculator #display {
  background: #2A2B2F;
  font-size: 3rem;
  border-radius: 1rem;
  padding: 6px;
}

#calculator #button-container {
  display: flex;
  flex-direction:column;
  gap: 5px;
}

.buttons-row {
  display: grid;
  grid-template: 1fr / repeat(4, 1fr);
  gap: 5px;
}

.buttons-row > button {
  font-size: 3.4rem;
  border-radius: 50%;
  height: 80px; 
  width: 80px;
  background: #1B1C1D;
  color: #DDE3EA;
  border: 0;
}

.buttons-row > button:hover {
  border-radius: 40%;
  transition: border-radius .1s linear;
  cursor:pointer;
}

.buttons-row > button:active {
  background: #44403F;
  transition: background-color .2s ease;
}

.buttons-row .arsenic {
  background: #41474D;
}