* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  color: #dde3ea;
}

#main-container {
  background: #131314;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container:first-child {
  font-size: 6rem;
  margin-top: 2rem;
  padding: 8px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container:nth-child(2) {
  flex: 1;
}

#calculator {
  display: grid;
  min-height: 500px;
  max-width: 300px;
  grid-template: 1fr 4fr/ 1fr;
  padding: 8px;
  gap: 4px;
}

#calculator #display {
  background: #2a2b2f;
  font-size: 3rem;
  border-radius: 1rem;
  padding: 6px;
  display: grid;
  grid-template: 1.5fr 2fr;
  text-align: right;
  overflow: auto;
}

#display #top {
  font-size: 3rem;
  min-height: 40px;

  max-width: 100%;
}
#display #bottom {
  font-size: 4rem;
}

#calculator #button-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.buttons-row {
  display: grid;
  grid-template: 1fr / repeat(4, 1fr);
  gap: 5px;
}

.buttons-row:last-child {
  grid-template: 1fr / 2fr 1fr 1fr;
}

.buttons-row > button {
  font-size: 3.4rem;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background: #1b1c1d;
  color: #dde3ea;
  border: 0;
}

.buttons-row:last-child > button:first-child {
  height: auto;
  width: auto;
  border-radius: 50%;
}

.buttons-row > button:hover {
  border-radius: 40%;
  transition: border-radius 0.1s linear;
  cursor: pointer;
}

.buttons-row > button:active {
  background: #44403f;
  transition: background-color 0.2s ease;
}

.buttons-row .arsenic {
  background: #41474d;
}
